<!doctype html>
<html lang="en" ng-app="LinkApp">
  <!-- todo:
    switch to better algorithm than just clicks: https://github.com/clux/decay
  -->
  <head>
    <title>First Angular App</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

    <script type="text/javascript">
      angular.module('LinkApp', [])
        .controller('LinkController', ['$scope', function($scope) {

          $scope.groups = [];
          $scope.last_groupid = 0;
          $scope.last_linkid = 0;

          $scope.addGroup = function() {
            $scope.last_groupid++;
            $scope.groups.push({ id: $scope.last_groupid, text: $scope.text, links: [], total_clicks: 0 });
            $scope.text = '';
          };

          $scope.addLink = function(group_id) {
            $scope.last_linkid++;
            group = $scope.groups.filter(function(g){return g.id == group_id})[0];
            group.links.push( {id: $scope.last_linkid, text: this.linktext, url: this.url, clicks: 0} );
            this.linktext = '';
            this.url = '';
          };

          $scope.deleteLink = function(group_id, link_id) {
            var group = $scope.groups.filter(function(g){return g.id == group_id})[0];
            group.links = group.links.filter(function(link){return link.id != link_id})
          }

          $scope.linkClick = function(group_id, link_id) {
            var group = $scope.groups.filter(function(g){return g.id == group_id})[0];
            group.links.filter(function(link){return link.id == link_id})[0].clicks++;
            group.total_clicks++;
          };

        }]);
    </script>

  </head>
  <body ng-controller="LinkController">

    <form ng-submit="addGroup()">
      <input type="text" ng-model="text">
      <button type="submit">Add Group</button>
    </form>

    <ol>
      <li ng-repeat="group in groups | orderBy:'-total_clicks'">
        {{group.text}}
        <ol>
          <li ng-repeat="link in group.links | orderBy:'-clicks'">
            <!-- link below temporarily disabled via js -->
            <a href="javascript:void(0)/*{{link.url}}*/" ng-click="linkClick(group.id, link.id)">{{link.text}}</a>
            <button ng-click="deleteLink(group.id,link.id)" title="delete">x</button><!-- fix -->
          </li>
        </ol>
        <form ng-submit="addLink(group.id)">
          <input type="text" ng-model="linktext">
          <input type="text" ng-model="url" placeholder="http://">
          <button type="submit">Add Link</button>
        </form>
      </li>
    </ol>

  </body>
</html>